<% include ./header %>

    <%= books.length%>
 
    <% books.forEach(book => { %>

        <p>
          <%= book.volumeInfo.title%>
        </p>
        <img src="<%=book.volumeInfo.imageLinks.thumbnail%>"/>
   
  
    <% }) %> 
 
  

<% include ./footer %>