<% include ./header %>

    <form action="/books">
    <input type="search" name="bookName" class="" style="height:40px">
    <button class="btn-search">Search</button>
  </form>
 
  

<% include ./footer %>